.GasMetrics {

  .Card {
    flex: 0 0 calc(33% - 10px);
    width: calc(33% - 10px);
  }

  .MetricsRow {
    display: flex;
    justify-content: space-between;
  }

  .MetricNumber {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }

  .MetricDescription {
    color: #666;
    text-align: center;
    font-size: 12px;
    padding: 10px 30px;
  }
}
