body, html, #root {
  background: #f6f6f6;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

code, .MonoText {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.MarginLeftAuto {
  margin-left: auto;
}

.SmallText {
  font-size: 12px;
}

.MonoText {
  color: #3B77F4;
}

.BlueText {
  color: #3B77F4;
}

.SuccessText {
  color: #D3F43B;
}

.DangerText {
  color: #F45B3B;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}
