.OverviewPage {
  display: flex;

  .BatchesWrapper {
    flex: 0 0 700px;
  }

  .AnimationsWrapper {
    flex: 1 1 0;
    margin-left: 50px;
    //overflow: hidden;
  }
}

.OverviewLoader {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .LoaderText {
    color: #333;
    margin-top: 20px;
    font-size: 18px;
  }
}
