.BatchesList__Item {
  display: flex;

  justify-content: space-between;
  margin: 0 -20px;

  padding: 10px 20px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #f8f8f8;
  }
}
