.Header {
  background: #F4B83B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  flex: 0 0 auto;

  .LogoWrapper {
    display: flex;
    align-items: center;
    color: initial;
    text-decoration: initial;
  }

  .LogoImage {
    height: 36px;
    margin-top: 5px;
  }

  .AppName {
    font-weight: bold;
    color: #222;
    font-size: 22px;
    margin-left: 20px;
  }

  .AppDesc {
    color: #333;
    margin-left: 10px;
    font-size: 16px;
    padding-top: 5px;
  }

  .ConnectionBar {
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.33);
    padding: 8px 12px;
    border-radius: 4px;

    span {
      margin-left: 8px;
    }
  }
}
